@use "sass:color";

@function color-lighten($color, $step) {
  @return color.mix(#ffffff, $color, $step * 10%);
}

@function color-darken($color, $step) {
  @return color.mix(#181818, $color, $step * 10%);
}

// 将原本的css变量，改用scss封装RGB值，利于调整其透明度
$vt-c-white: 255, 255, 255;
$vt-c-white-soft: 248, 248, 248;
$vt-c-white-mute: 242, 242, 242;

$vt-c-black: 24, 24, 24;
$vt-c-black-soft: 34, 34, 34;
$vt-c-black-mute: 40, 40, 40;

$my-neutral-rgb: 140, 147, 157;

$opacity-steps: 10, 20, 30, 40, 50, 60, 70, 80, 90, 95;

/* color palette from <https://github.com/vuejs/theme> */
:root {

  // --vt-c-white: #ffffff;
  // --vt-c-white-soft: #f8f8f8;
  // --vt-c-white-mute: #f2f2f2;

  // --vt-c-black: #181818;
  // --vt-c-black-soft: #222222;
  // --vt-c-black-mute: #282828;

  --vt-c-white: rgb(#{$vt-c-white});
  --vt-c-white-soft: rgb(#{$vt-c-white-soft});
  --vt-c-white-mute: rgb(#{$vt-c-white-mute});

  --vt-c-black: rgb(#{$vt-c-black});
  --vt-c-black-soft: rgb(#{$vt-c-black-soft});
  --vt-c-black-mute: rgb(#{$vt-c-black-mute});

  --vt-c-indigo: #2c3e50;


  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  // 使用循环生成不同透明度的颜色
  @each $i in $opacity-steps {
    $opacity: $i * 0.01;
    --color-background-a#{$i}: rgba(#{$vt-c-white}, #{$opacity});
    --color-background-soft-a#{$i}: rgba(#{$vt-c-white-soft}, #{$opacity});
    --color-background-mute-a#{$i}: rgba(#{$vt-c-white-mute}, #{$opacity});
  }

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-soft: #6b6b70;

  --section-gap: 160px;
}

:root.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  // 使用循环生成不同透明度的颜色
  @each $i in $opacity-steps {
    $opacity: $i * 0.01;
    --color-background-a#{$i}: rgba(#{$vt-c-black}, #{$opacity});
    --color-background-soft-a#{$i}: rgba(#{$vt-c-black-soft}, #{$opacity});
    --color-background-mute-a#{$i}: rgba(#{$vt-c-black-mute}, #{$opacity});
  }

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-text-soft: #96969d;


}

:root {
  // 基础颜色
  --my-neutral: rgba(#{$my-neutral-rgb}, 1);

  // 使用循环生成不同透明度的颜色
  @each $i in $opacity-steps {
    $opacity: $i * 0.01;
    --my-neutral-a#{$i}: rgba(#{$my-neutral-rgb}, #{$opacity});
  }
}

$types: (
  // 1. Yellow
  harvest-wheat: #C9B86A,
  // 2. Yellow-Orange
  amber-sand:    #BB9854,
  // 3. Orange
  clay-orange:   #C78A5A,
  // 4. Red-Orange
  ember-rust:    #B45F4A,
  // 5. Red
  terra-red:     #A85A58,
  // 6. Red-Purple
  plum-rose:     #AB4378,
  // 7. Purple
  violet-dusk:   #7A5A8F,
  // 8. Blue-Purple
  indigo-mist:   #6A6FA3,
  // 9. Blue
  mist-blue:     #7899CC,
  // 10. Blue-Green
  dusk-cyan:     #5A7583,
  // 11. Green
  moss-green:    #799978,
  // 12. Yellow-Green
  olive-haze:    #9AA76A,
);

$light-steps: 3, 5, 7, 8, 9;
$dark-steps: 2;

:root:root {
  @each $type, $color in $types {
    --poto-color-#{$type}: #{$color};

    @each $step in $light-steps {
      --poto-color-#{$type}-light-#{$step}: #{color-lighten($color, $step)};
    }

    @each $step in $dark-steps {
      --poto-color-#{$type}-dark-#{$step}: #{color-darken($color, $step)};
    }
  }
}

:root:root.dark {
  @each $type, $color in $types {
    --poto-color-#{$type}: #{$color};

    @each $step in $light-steps {
      --poto-color-#{$type}-light-#{$step}: #{color-darken($color, $step)};
    }

    @each $step in $dark-steps {
      --poto-color-#{$type}-dark-#{$step}: #{color-lighten($color, $step)};
    }
  }
}
